* {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

body {
  position: relative;
}

ul li {list-style-type: none;}
a{color : #222; text-decoration : none !important;}

.modal-header button span{top: 10px; position: absolute; right: 10px;}
.modal-content, .modal-dialog{width : 800px; height : 550px;}
.modal-body, .modalEvent{height : 455px;}
.modalEvent div img{width : 100%; min-height : 455px; max-height : 455px;}

.topfixed{
	width : 99vw;
	height : 100px;
	position : fixed;
	border : none;
	z-index : 20;
	padding-left : 0.5%;
	padding-right : 3%;
	background-color: #337ab7;
	border-bottom : 1px solid #337ab7;
	color : white;
}

.collapse{border : none; box-shadow : none;}

.topmenu > ul{
	background : white;
	position : relative;
	margin-left : 200px;
	transition-property : background, color;
	transition-timing-function : linear;
	transition-duration : 0.5s;
}

.topmenu > ul > li{
	width : 25%;
	display : inline-block;
	padding-top : 35px;
	height : 100px;
	text-align : center;
	cursor : pointer;
	font-size : 20px;
	z-index : 10;
	float : left;
}

#menuborder{border-bottom : none;}

.topmenu > li:first-child{
	position : relative;
	width : 200px;
	height : 50px;
	float : left;
	top : 20px;
	padding : 0;
	cursor : pointer;
}

#logoimg{
	position: relative;
    top: -18px;
    left: -10px;
    max-height: 100px;
    max-width: 200px;
}

.menufixed{
	position : fixed;
	right : 0px;
	padding : 0;
	width: 3.125vw;
    height: 100vh;
	text-align : center;
	font-size : 16px;
	z-index : 30;
	border-left: 1px solid #e6e6e6;
	background : white;
}

.menufixed ul{ width: 3.125vw; height : 100%; border-right : 1px solid #e0e0e0;}

.menufixed ul li{
	display : inline-block;
	margin-left : 0px;
	margin-right : 5px;
	padding-bottom : 9px;
	width: 3.125vw;
	cursor : pointer;
	border-bottom : 1px solid #e0e0e0;
}

.menufixed ul li{margin-top : 15px;}
.menufixed ul li:first-child{height : 65vh; margin-top : 0px; padding : 20vh 0;}

.menufixed ul li i{font-size : 35px;}
.toptop{margin-left : 15px;}

.list-group{position : fixed;}
/* ==================================== header =============================================== */



/* ==================================== side bar =============================================== */
 .slidebar{
	display : none;
	margin-top : 60px;
	padding-left : 0;
}

.slidebar li{
	display : block;
	width : 70%;
	height : 45px;
	text-align : center;
	font-size : 15px;
	transition-property : background, color;
	transition-timing-function : linear;
	transition-duration : 0.5s;
}

.slidebar > li > a{
	display : block;
	background : none;
	height : 30px;
	padding-top : 5px;
	transition-property : background;
	transition-timing-function : linear;
	transition-duration : 0.1s;
}
/* ==================================== side bar =============================================== */



/* ====================================footer =============================================== */

.footer{
	width : 100%;
	background : #e0e0e0;
	height : 230px;
	float : left;
	margin-top : 20px;
}

.footertop{width : 1280px; height : 50px;}
.footertop ul{float : left; width : 100%; height : 50px; border-bottom : 1px solid #e3e3e3;}
.footertop ul li:first-child{margin-left : 20%;}
.footertop ul li{float : left; margin-right : 3%; padding-top : 12px;}
.footertop ul li:nth-child(6),.footertop ul li:nth-child(7),.footertop ul li:nth-child(8)
{margin-right : 1%; font-size : 30px; padding-top : 0px;}

.bottomimg{
	position : relative;
	float : left;
	max-height : 150px;
	max-width : 200px;
	margin-left : 20%;
}

.bottomcontent{
	position : relative;
	float : left;
	width : 700px;
	margin-left : 3%;
}

.bottomcontent h4{float : left;}
.bottomcontent p{float : left;}